<nav class="navbar navbar-default" role="navigation" style="margin-bottom:0;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Museum Console</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
            <li><a href="@this.Url.Action("NewRental","Rental")"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Rental</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="@this.Url.Action("Index","Customer")"><span class="glyphicon glyphicon-user"></span>&nbsp;Customers</a></li>
                    <li><a href="@this.Url.Action("Index","Rental")"><span class="glyphicon glyphicon-gbp"></span>&nbsp;Rentals</a></li>
                    <li><a href="@this.Url.Action("Index","Handset")"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Handsets</a></li>
                    <li class="divider"></li>
                    <li><a href="@this.Url.Action("Index","Exhibit")"><span class="glyphicon glyphicon-home"></span>&nbsp;Exhibits</a></li>
                    <li class="divider"></li>
                    <li><a href="@this.Url.Action("Index","Audio")"><span class="glyphicon glyphicon-music"></span>&nbsp;Audio Files</a></li>
                    <li><a href="@this.Url.Action("Index","Language")"><span class="glyphicon glyphicon-globe"></span>&nbsp;Languages</a></li>
                    <li><a href="@this.Url.Action("Index","KnowledgeLevel")"><span class="glyphicon glyphicon-book"></span>&nbsp;Knowledge Levels</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li><a href="#" class="active">USERNAME</a></li>
        </ul>
    </div>
</nav>


