@model IEnumerable<EmbeddedSystems.DomainModel.HandsetRental>

<h1>Rentals</h1>
<div class="col-lg-6">
    <h2>Add Rental</h2>
    @Html.Partial("~/Views/Rental/AddRentalForCustomer.cshtml", new EmbeddedSystems.DomainModel.Customer())
</div>
<div class="col-lg-6">
    <h2>All Rentals</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Handset Number</td>
                    <td>Date Rented</td>
                    <td>Pin</td>
                    <td>Rental Expiry</td>
                    <td>Customer</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var rental in this.Model.OrderByDescending(r => r.RentalExpires).ThenBy(r => r.Customer.Name))
                {
                    <tr>
                        <td>@rental.Handset.HandsetNumber</td>
                        <td>@rental.WhenRentedOut</td>
                        <td>@rental.Pin</td>
                        <td>@rental.RentalExpires</td>
                        <td>@rental.Customer.Name</td>
                    </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>