@model EmbeddedSystems.DomainModel.Customer

@using (Html.BeginForm("MakeEditChanges","Customer",FormMethod.Post))
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    
    @Html.LabelFor(model => model.MobileNumber)
    @Html.TextBoxFor(model => model.MobileNumber)
    
    @Html.LabelFor(model => model.Address)
    @Html.TextAreaFor(model => model.Address)
    
    @Html.LabelFor(model => model.KnowledgeLevel)
    @Html.Action("KnowledgeLevelSelect", "KnowledgeLevel")
    
    @Html.LabelFor(model => model.Language);
    @Html.Action("LanguageSelect", "Language");
    

    
    
    <button type="submit">Make Changes</button>
}