@using (Html.BeginForm("GetForm", "Home"))
{
 @Html.AntiForgeryToken()
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Langue <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("ChangeCulture", "Culture", new { lang = "en", returnUrl = this.Request.RawUrl })">Anglais</a></li>
            <li><a href="@Url.Action("ChangeCulture", "Culture", new { lang = "es", returnUrl = this.Request.RawUrl })">Espagnol</a></li>
            <li><a href="@Url.Action("ChangeCulture", "Culture", new { lang = "de", returnUrl = this.Request.RawUrl })">Allemand</a></li>
            <li><a href="@Url.Action("ChangeCulture", "Culture", new { lang = "fr", returnUrl = this.Request.RawUrl })">Français</a></li>
            <li class="divider"></li>
            <li><a>Annuler</a></li>
        </ul>
    </div>
   

    <fieldset>
        <legend>Kiosque Inscrivez-vous</legend>

        <div class="panel panel-default text-center wideDiv">
            <div class="panel-body">
                S'il vous plaît entrer vos coordonnées:
            </div>
        </div>

        <form role="form">
            <div class="form-group">
                <label for="inputFirstName">Prénom</label>
                <input data-val="true" data-val-required="S'il vous plaît entrer un prénom valide." type="text" class="form-control" id="inputFirstName" placeholder="Entrez le prénom" name="FirstName" />
                     <span class="field-validation-valid help-block" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="inputSurname">Nom de famille</label>
                <input data-val="true" data-val-required="S'il vous plaît entrer un nom valide." type="text" class="form-control" id="inputSurname" placeholder="Entrez Nom" name="Surname" />
                     <span class="field-validation-valid help-block" data-valmsg-for="Surname" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="inputAddress">Adresse</label>
                <input data-val="true" data-val-required="S'il vous plaît entrer une adresse valide." type="text" class="form-control" id="inputAddress" placeholder="Saisissez l'adresse" name="Address" />
                     <span class="field-validation-valid help-block" data-valmsg-for="Address" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="inputTelNumber">Numéro de téléphone</label>
                <input class="form-control" data-val="true" data-val-regex-pattern="^[0-9]{11}$" data-val-required="S'il vous plaît fournir un numéro de téléphone valide." placeholder="Entrez le numéro de téléphone" name="Tel" type="tel" value="" />
                    <span class="field-validation-valid help-block" data-valmsg-for="Tel" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="inputEmail">Adresse e-mail</label>
                <input data-val="true" data-val-required="S'il vous plaît entrer une adresse email valide." type="email" class="form-control" id="inputEmail" placeholder="Entrez l'adresse e-mail" name="Email" />
                     <span class="field-validation-valid help-block" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    #Yolo Swaggins
                </label>
            </div>
            <button type="submit" class="btn btn-default">Soumettre</button>
        </form>


    </fieldset>
}

@section Scripts{
    <script type="text/javascript" src="//asset.jdibble.co.uk/script/form.min.js"></script>
}